{{#each comments as |comment|}}
<section class="card">
    <div class="card-body">
      <p>{{comment_body}}</p>
      <p>Created by, {{user.name}}, On {{date_created}}</p>
        {{#if owned_comment }}

    {{/if}}
      
    </div>

</section>
{{/each}}