<div class="text-center">
  <p>Created by {{user.name}} on {{date_created}}</p>
 <div class="edit-dish-container">
  <h2>
    Update comment
  </h2>
  <form class="edit-dish-form">
    <label for="dish_name">
    </label>
    <br />
    <textarea id="dish_name" name="dish_name" rows="2" cols="30">
      {{comment_body}}
    </textarea>
  </form>
</div>