<div class="text-center">
  <h2>{{post_description}}</h2>
  <p></p>
  <p></p>
  <p>Created by {{user.name}} on {{date_created}}</p>
  <form>
    <label for="post_comment">Leave a comment</label>
    <input class="form-input" type="text">
    <div>
      <button type="submit" class="btn btn-primary">Add Comment</button>
    </div>
    {{#each post.comment as |comment|}}
    {{> comment}}
    {{/each}}
  </form>
</div>
